@charset "UTF-8";
/* CSS Document */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Didot";
  color: #FFFFFF;
  position: relative;
  display: inline-block;
}
div {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*header共通部分*/
header {
  height: 464px;
  width: 100%;
  margin: auto;
}
header a::after {
  position: absolute;
  bottom: 4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.header-parts-space a:hover::after {
  transform: scale(1, 1);
}
.header-image {
  background: transparent url('images/header-images/about-nav-img.png') 0% 0% no-repeat padding-box;
  height: 464px;
  border-bottom-left-radius: 90% 20%;
  border-bottom-right-radius: 90% 20%;
  background-position: center top;
  background-size: cover;
}
.header-parts-space {
  height: 62px;
  width: 90%;
  margin: auto;
}
.header-name {
  float: left;
  margin-top: 51px;
}
.header-name a {
  font-size: 50px;
}
.header-nav {
  margin-top: 63px;
  float: right;
}
.header-nav-parts {
  display: flex;
}
.head-part {
  margin: 0 40px;
}
.home-part {
  display: none;
}
.head-part a {
  font-size: 30px;
}
.hamburger {
  display: none;
}
main {
  clear: both;
  width: 100%;
  margin: 0px auto 250px auto;
}
.common {
  width: 80%;
  margin: 0px auto;
}
.main-title {
  margin-top: 123px;
}
.main-title h2 {
  text-align: center;
  font: normal normal normal 70px/89px Didot;
  letter-spacing: 0px;
  color: #99CCFF;
}
.content {
  margin: 250px auto 0 auto;
  height: auto;
}
footer {
  margin: 0 auto;
  height: 300px;
  width: 100%;
  background: #3366CC 0% 0% no-repeat padding-box;
}
/*aのhover時の設定*/
footer a {
  transition: 0.5s;
}
footer a:hover {
  opacity: 0.6;
  transition: 0.5s;
}
.footer-contents {
  margin-right: 120px;
  margin-left: 121px;
}
/*footerのKanatani Naoki*/
.footer-name {
  padding-top: 65px;
}
.footer-name a {
  font: normal normal normal 30px/38px Didot;
  letter-spacing: 0.6px;
  height: 37px;
  text-align: left;
}
.content-parts {
  margin-top: 100px;
}
/*footerのナビゲーション*/
.footer-nav {
  float: left;
  padding-top: 30px;
}
.footer-nav ul {
  text-align: left;
  padding-left: 0px;
}
.footer-nav ul li {
  height: 24px;
  padding-bottom: 10px;
}
.footer-navi-part a {
  padding-bottom: 10px;
  font: normal normal normal 19px Didot;
  letter-spacing: 0.38px;
}
.footer-sns {
  float: right;
  padding-top: 24px;
}
.footer-sns ul {
  display: flex;
}
/*snsのナビゲーション*/
.footer-sns li a {
  display: flex;
  text-align: center;
}
.footer-sns-parts li {
  margin-left: 20.5px;
  width: 149px;
  height: 40px;
  position: relative;
  margin-right: 20.5px;
  text-align: center;
}
.footer-sns-parts li::before {
  position: absolute;
  top: 0;
  right: 100%;
  margin: 0 1rem;
  content: "";
  width: 1px;
  height: 100%;
  background-color: #ffffff;
}
.footer-sns-parts li:nth-child(1) {
  width: 149px;
}
.footer-sns-parts li:nth-child(2) {
  width: 129px;
}
.footer-sns-parts li:nth-child(3) {
  width: 146px;
}
.footer-sns-parts li p {
  letter-spacing: 0.4px;
  font-size: 20px;
  line-height: 40px;
}
.footer-sns-icon {
  font-size: 40px;
}
.fa-instagram {
  margin-right: 15px;
}
.fa-facebook-f {
  margin-right: 23px;
}
.fa-twitter {
  margin-right: 17px;
}
.small {
  clear: both;
  text-align: center;
  font: normal normal normal 20px/25px Didot;
  color: #FFFFFF;
  padding-top: 33.52px;
}
/*トップページ*/
#index {
  width: 100%;
}
#top-footer {
  background: transparent 0% 0% no-repeat padding-box;
  width: 138px;
  height: 25px;
}
.top-small-logo {
  padding-top: 0px;
}
/*コンタクトページ*/
.contact-image {
  background: transparent url("images/header-images/contact.png") 0% 0% no-repeat padding-box;
  background-size: cover;
  background-position: center;
}
.contact {
  height: auto;
}
.contact-message {
  width: 736px;
  height: 54px;
  margin: 68px auto;
}
.contact-message p {
  text-align: center;
  font: normal normal normal 20px/34px Hiragino Mincho ProN;
  letter-spacing: 0.4px;
  color: #050505;
  opacity: 0.7;
}
/*contactボタン*/
.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 126px 0px 124px 0px;
}
.contact-button {
  margin: 0 40px;
  width: 269px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.contact-button:hover {
  transition: 0.5s;
}
.contact-button p {
  font: normal normal normal 30px/38px Didot;
  letter-spacing: 1.5px;
}
.contact-button:hover .sns-button-text {
  color: #FFFFFF;
}
.facebook-button {
  border: 1px solid #3366CC;
}
.facebook-button:hover {
  background: #3366CC 0% 0% no-repeat padding-box;
  border: 1px solid #3366CC;
}
.facebook-button p {
  color: #3366CC;
}
.twitter-button {
  border: 1px solid #99CCFF;
}
.twitter-button:hover {
  background: #99CCFF 0% 0% no-repeat padding-box;
  border: 1px solid #99CCFF;
}
.twitter-button p {
  color: #99CCFF;
}
.blog-button {
  border: 1px solid #CCCCCC;
}
.blog-button:hover {
  border: 1px solid #CCCCCC;
  background: #CCCCCC 0% 0% no-repeat padding-box;
}
.blog-button p {
  color: #CCCCCC;
}
/*ポートフォリオページ*/
.header-portfolio-image {
  background: transparent url('images/header-images/portfoliotop.jpg') 0% 0% no-repeat padding-box;
  background-position: center top;
}
.portfolio {
  height: auto;
}
.portfolio-image {
  width: 745px;
  height: 446px;
}
.portfolio-introduct {
  width: 324px;
  height: 446px;
}
.right-introduct, .right-image {
  float: right;
}
.left-introduct, .left-image {
  float: left;
}
.portfolio-part-title {
  height: 50px;
  margin-top: 71px;
  display: inline-block;
  font: normal normal normal 40px/50px Didot;
  color: #3366CC;
}
.portfolio-part-introduct {
  margin-top: 75px;
  font: normal normal normal 20px/60px Hiragino Mincho ProN;
  color: #99CCFF;
}
.arrow-parts {
  margin-top: 46px;
  width: 300px;
  height: 37px;
}
.portfolio-link {
  display: flex;
  align-items: center;
}
.arrow {
  width: 92px;
  height: 0px;
  border: 2px solid #3366CC;
  position: relative;
  line-height: 37px;
  transition: 0.5s;
}
.arrow:after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border: 4px solid #3366CC;
  border-radius: 50px;
  top: -11px;
  right: -22px;
}
.portfolio-link p {
  margin-left: 41px;
  width: 99px;
  height: 37px;
  font: normal normal normal 30px/38px Didot;
  letter-spacing: 1.8px;
  color: #3366CC;
}
.portfolio-link:hover .arrow {
  transition: 0.5s;
  width: 112.91px;
}
.clear-fix:after {
  content: "";
  display: block;
  clear: both;
}
/*アバウトページ*/
.about {
  height: auto;
  width: 100%;
}
.about-parts-title {
  width: 80px;
  height: 50px;
  margin: 0 auto;
}
.about-parts-title h2 {
  text-align: center;
  text-decoration: underline;
  font: normal normal normal 40px/51px Didot;
  color: #99CCFF;
}
.my-info-parts {
  margin: 123px 0 0 0;
  height: 339px;
  display: flex;
}
.flex-right {
  flex-direction: row-reverse;
}
.my-info-introduct {
  margin-right: 239px;
}
.my-info-name {
  width: 200px;
  height: 50px;
  font: normal normal normal 50px/85px Hiragino Mincho ProN;
  color: #000303;
}
.my-info-detail {
  margin-top: 54px;
  width: 426px;
  height: 170px;
  font: normal normal normal 22px/37px Hiragino Mincho ProN;
  letter-spacing: 0.44px;
  color: #000202;
}
.my-info-image img {
  width: 462px;
  height: 339px;
  border-radius: 57px;
}
.chart-parts {
  width: 801px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
/*skill*/
.my-skill-chart-list {
  display: flex;
}
.my-skill-chart {
  margin-right: 223px;
}
.my-skill-list h2 {
  width: 188px;
  height: 37px;
  font: normal normal normal 30px/38px Didot;
  color: #000202;
}
.my-skill-list li {
  width: 126px;
  height: 24px;
  font: normal normal normal 19px/43px Didot;
  letter-spacing: 0.38px;
  color: #000202;
  margin: 15px 0px;
}
.chart {
  height: 300px;
  width: 300px;
}
#skill-two-part {
  margin-top: 70px;
}
@media screen and (max-width:600px) {
  body {
    max-width: 599px;
    margin: auto;
  }
  img {
    max-width: 100%;
  }
  h2 {
    font: normal normal normal 30px/38px Didot;
  }
  header {
    width: 100%;
    height: 64px;
  }
  .header-image {
    border-bottom-left-radius: 100% 10%;
    border-bottom-right-radius: 100% 10%;
  }
  /* ハンバーガーメニュー	*/
  .hamburger {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    float: right;
    width: 29px;
    height: 33px;
    mix-blend-mode: normal;
    cursor: pointer;
    z-index: 999;
  }
  .hamburger span {
    position: absolute;
    display: inline-block;
    height: 0px;
    width: 100%;
    border: 1px solid #FFFFFF;
    transition: all .4s;
  }
  .hamburger span:nth-of-type(1) {
    top: 15px;
  }
  .hamburger span:nth-of-type(2) {
    top: 24px;
  }
  .hamburger span:nth-of-type(3) {
    top: 33px;
  }
  .active span:nth-of-type(1) {
    top: 18px;
    transform: translateY(6px) rotate(-45deg);
  }
  .active span:nth-of-type(2) {
    opacity: 0;
  }
  .active span:nth-of-type(3) {
    top: 30px;
    transform: translateY(-6px) rotate(45deg);
  }
  .response-top-name a {
    text-align: left;
    font: normal normal normal 30px/30px Didot;
    line-height: 30px;
  }
  .header-nav {
    position: fixed;
    z-index: -1;
    opacity: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #3366CC;
    transition: all 0.3s;
  }
  .nav-active {
    margin: 0;
    opacity: 0.8;
    z-index: 998;
  }
  .header-nav ul {
    display: none;
  }
  .nav-active ul {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: absolute;
    z-index: 998;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nav-active li {
    display: inline-block;
    text-align: center;
    margin: 40px 0;
  }
  footer {
    max-width: 599px;
    height: 324px;
  }
  .footer-contents {
    width: 81%;
    margin: 0 auto;
  }
  .footer-name {
    padding-top: 50px;
    width: 280px;
    height: 37px;
  }
  .footer-name a {
    font: normal normal normal 20px/20px Didot;
  }
  /*footerのナビゲーション*/
  .footer-nav, .footer-sns {
    float: none;
  }
  /*footerのナビゲーション*/
  .footer-nav {
    padding-top: 17px;
  }
  .footer-nav ul {
    text-align: left;
    padding-left: 0px;
  }
  .footer-nav ul li {
    height: 24px;
    padding-bottom: 10px;
  }
  .footer-navi-part a {
    padding-bottom: 10px;
    font: normal normal normal 19px Didot;
    letter-spacing: 0.38px;
  }
  .footer-sns ul {
    display: flex;
  }
  .footer-sns li {
    margin-left: 0px;
    margin-right: 17.5px;
    height: 40px;
    text-align: left;
  }
  .footer-sns li a {
    display: flex;
  }
  .footer-sns-parts li::before {
    display: none;
  }
  .footer-sns-parts li p {
    font: normal normal normal 15px/18px Didot;
    width: 67px;
    height: 18px;
  }
  .footer-sns-icon {
    font-size: 20px;
    margin-right: 7px;
  }
  .small {
    padding-top: 5px;
  }
  canvas {
    width: 300px;
    height: 300px;
  }
  /* topページ	*/
  #index {
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
  }
  .response-top-name {
    margin-top: 10px;
    width: 121px;
    height: 67px;
  }
  #top-footer {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  main {
    margin: 460px auto 0 auto;
    width: 100%;
    height: auto;
  }
  .main-title {
    width: 84px;
    height: 37px;
    margin: auto;
  }
  .main-title h2 {
    font: normal normal normal 30px/38px Didot;
  }
  .content {
    max-width: 90%;
    margin-top: 90px;
  }
  canvas {
    margin: auto;
    width: 300px;
    height: 217px;
  }
  .content-parts {
    margin-top: 60px;
  }
  /*	About*/
  .about-list-part {
    height: auto;
    width: 100%;
  }
  .about-parts-title {
    width: 52px;
    height: 25px;
  }
  .about-parts-title h2 {
    font: normal normal normal 20px/25px Didot;
  }
  .my-info-parts {
    display: block;
    width: 100%;
  }
  .my-info-introduct {
    width: 100%;
  }
  .my-info-image {
    margin: 0 auto;
    text-align: center;
  }
  .my-info-image img {
    width: 90%;
    height: 150px;
    border-radius: 19px;
  }
  .my-info-name {
    margin-top: 37px;
    width: 120px;
    height: 30px;
    font: normal normal normal 30px/51px Hiragino Mincho ProN;
  }
  .my-info-detail {
    margin-top: 37px;
    width: 90%;
    height: 114px;
    font: normal normal normal 13px/23px Hiragino Mincho ProN;
  }
  .chart-parts {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .my-skill-list {
    display: none;
  }
	
	
}