<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Aboutページ</title>
<link rel="stylesheet" href="../style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body id="about">
<header>
  <div class="header-image">
    <div class="header-parts-space">
      <div class="header-name"> <a href="top.html">Naoki Kanatani</a> </div>
      <nav class="header-nav">
        <ul class="header-nav-parts">
          <li class="head-part"><a href="/view/about.html">About</a></li>
          <li class="head-part"><a href="/view/portfolio.html">Portfolio</a></li>
          <li class="head-part"><a href="/view/contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<main>
  <div class="wrap common">
    <div class="about">
      <div class="main-title">
        <h2>About</h2>
      </div>
      <div class="content-parts about-list">
        <div class="content about-list-part now-parts">
          <div class="about-parts-title">
            <h2>Now</h2>
          </div>
          <div class="my-info-parts">
            <div class="my-info-introduct">
              <h2 class="my-info-name">金谷尚輝</h2>
              <p class="my-info-detail">関西大学に入学。軽音楽部に入り、様々な音楽のジャンルを学びながら経験を積んでいく。現在は、Webデザイナーを志望しており、プログラミングとデザインを学んでいる。</p>
            </div>
            <div class="my-info-image"> <img src="../images/about/myinfo.jpg" alt="自己紹介画像"> </div>
          </div>
        </div>
        <div class="content about-list-part chart-parts">
          <div class="about-parts-title">
            <h2>Skill</h2>
          </div>
          <div class="my-info-parts" id="skill-one-part">
            <div class="my-skill-chart-list first">
              <div class="my-skill-chart">
                <canvas id="Onechart" width="300" height="300"></canvas>
              </div>
              <div class="my-skill-list">
                <div class="program-skill-list">
                  <h2>Program skill</h2>
                  <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>PHP</li>
                    <li>Wordpress</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="my-info-parts" id="skill-two-part">
            <div class="my-skill-chart-list second">
              <div class="my-skill-chart">
                <canvas id="Twochart" width="300" height="300"></canvas>
              </div>
              <div class="my-skill-list">
                <div class="program-skill-list">
                  <h2>Design skill</h2>
                  <ul>
                    <li>Photoshop</li>
                    <li>Illustrator</li>
                    <li>XD</li>
                    <li>Dreamweaver</li>
                    <li>premierePro</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content about-list-part future">
          <div class="about-parts-title Future-title">
            <h2>Future</h2>
          </div>
          <div class="my-info-parts">
            <div class="my-info-introduct">
              <h2 class="my-info-name">将来像</h2>
              <p class="my-info-detail">今後はお客様が使いやすいUI/UXをご提案しつつ、コーディングやプログラミングの知識を活かしていきたいと考えています。 そして、お客様に寄り添ったデザインを作って行くことを目標として頑張ります。</p>
            </div>
            <div class="my-info-image"> <img src="../images/about/about３.jpg" alt="将来像の画像"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="footer-contents">
    <div class="footer-left">
      <div class="footer-name"> <a href="">Naoki Kanatani</a> </div>
      <div class="footer-nav">
        <nav>
          <ul>
            <li class="footer-navi-part"><a href="/view/about.html">About</a></li>
            <li class="footer-navi-part"><a href="/view/portfolio.html">Portfolio</a></li>
            <li class="footer-navi-part"><a href="/view/contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer-right">
      <div class="footer-sns">
        <nav>
          <ul class="footer-sns-parts">
            <li><a href="https://www.instagram.com/naosmartma"><i class="fab fa-instagram footer-sns-icon"></i>
              <p>Instagram</p>
              </a></li>
            <li><a href="https://twitter.com/naokijingu889"><i class="fab fa-twitter footer-sns-icon"></i>
              <p>Twitter</p>
              </a></li>
            <li><a href="https://www.facebook.com/NaoTmark"><i class="fab fa-facebook-f footer-sns-icon"></i>
              <p>Facebook</p>
              </a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="small"> <small>© Naoki Kanatani</small> </div>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
<script src="../js/main/chart.js"></script>
</body>
</html>