<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>自己紹介サイト</title>
<link rel="stylesheet" href="../style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../js/vegas/vegas.min.css">
</head>
<body id="index">
<header>
  <div>
    <div class="header-parts-space">
      <div class="header-name response-top-name"><a href="/view/index.html">Naoki Kanatani</a></div>
      <nav class="header-nav">
        <ul class="header-nav-parts">
          <li class="head-part"><a href="/view/about.html">About</a></li>
          <li class="head-part"><a href="/view/portfolio.html">Portfolio</a></li>
          <li class="head-part"><a href="/view/contact.html">Contact</a></li>
        </ul>
      </nav>
	  <div class="hamburger active">
		<span></span>
		<span></span>
		<span></span>
	  </div>
    </div>
  </div>
</header>
<main></main>
<footer id="top-footer">
  <div>
    <div class="small top-small-logo"><small>© Naoki Kanatani</small></div>
  </div>
</footer>
<script src="../js/main/jquery-3.6.0.min.js"></script> 
<script src="../js/vegas/vegas.min.js"></script> 
<script src="../js/main/slide.js"></script>
</body>
</html>