<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>自己紹介サイト</title>
	<link rel="stylesheet" href="../style.css">
</head>
<body>
	<header>
		<div class="hedaer-image">
			<div class="header-parts-space">
				<div class="header-name">
					<a href="top.html">Naoki Kanatani</a>
				</div>
				<nav class="header-nav">
					<ul class="header-nav-parts">
						<li class="head-part"><a href="#">About</a></li>
						<li class="head-part"><a href="#">Portfolio</a></li>
						<li class="head-part"><a href="#">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<main>
	  <div class="wrap">
		  
	  </div>
	</main>
	
	<footer>
		<div>
			<a href="">Naoki Kanatani</a>
		</div>
		<div>
			<nav>
				<ul>
					<li class="footer-navi-part"><a href="#">About</a></li>
					<li class="footer-navi-part"><a href="#">Portfolio</a></li>
					<li class="footer-navi-part"><a href="#">Contact</a></li>
				</ul>
			</nav>
		</div>
		<div>
			<ul>
				<li><a href=""><img src="" alt="">Instagram</a></li>
				<li><a href=""><img src="" alt="">Twitter</a></li>
				<li><a href=""><img src="" alt="">Facebook</a></li>
			</ul>
		</div>
	</footer>
	
</body>
</html>

