<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>自己紹介サイト</title>
	<link rel="stylesheet" href="../style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<header>
		<div class="hedaer-image header-portfolio-image">
			<div class="header-parts-space">
				<div class="header-name">
					<a href="top.html">Naoki Kanatani</a>
				</div>
				<nav class="header-nav">
					<ul class="header-nav-parts">
						<li class="head-part"><a href="#">About</a></li>
						<li class="head-part"><a href="#">Portfolio</a></li>
						<li class="head-part"><a href="#">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<main>
	  <div class="wrap">
		  <div class="portfolio">
		  	 <div class="main-title">
			    <h2>Portfolio</h2>
		    </div>
			<div class="portfolio-list">
				<div class="portfolio-part">
					<div class="portfolio-introduct left-introduct first-introduct">
						<h2>Self-introduction</h2>
						<p>HTML/CSS/JSで作成したサイト。スクロール機能、SPAなどを実装した。</p>
						<div class="arrow-parts">
							<div class="arrow1"></div>
							<div class="arrow2"></div>
						</div>
					</div>
					<div class="portfolio-image right-image">
						<img src="../images/portfolio/self.jpg" alt="">
					</div>
				</div>  
				<div class="portfolio-part"></div>  
				<div class="portfolio-part"></div>  
			</div>
		  </div>
	  </div>
	</main>
	
	<footer>
		<div class="footer-contents">
			<div class="footer-name">
				<a href="">Naoki Kanatani</a>
			</div>
			<div class="footer-nav">
				<nav>
					<ul>
						<li class="footer-navi-part"><a href="#">About</a></li>
						<li class="footer-navi-part"><a href="#">Portfolio</a></li>
						<li class="footer-navi-part"><a href="#">Contact</a></li>
					</ul>
				</nav>
			</div>
			<div class="footer-sns">
				<nav>
					<ul class="footer-sns-parts">
						<li><a href=""><i class="fab fa-instagram footer-sns-icon"></i><p>Instagram</p></a></li>
						<li><a href=""><i class="fab fa-twitter footer-sns-icon"></i><p>Twitter</p></a></li>
						<li><a href=""><i class="fab fa-facebook-f footer-sns-icon"></i><p>Facebook</p></a></li>
					</ul>
				</nav>
			</div>
			<div class="small">
				<small>© Naoki Kanatani</small>
			</div>
		</div>
	</footer>
</body>
</html>

